/* TEXT ANIMATION */
.text-anim-start {
    margin: 0 0 0 0;
    margin-right: 10px;
    opacity: 0;
}
.text-anim-mid {
    margin: 0 0 0 0;
    opacity: 1;
}
.text-anim-in {
    animation: text-key-anim-in 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.text-anim-out {
    animation: text-key-anim-out.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes text-key-anim-in {
    0% {
        opacity: 0;
        margin-right: 10px;
    }
    100% {
        opacity: 1;
        margin-right: 0px;
    }
}
@keyframes text-key-anim-out {
    0% {
        opacity: 1;
        margin-right: 0px;
    }
    100% {
        opacity: 0;
        margin-right: -10px;
    }
}

/* OPACITY and VERTICAL SLIDE ANIMATION */
.opacity-slide-anim-start {
    margin-bottom: 8px;
    opacity: 0;
}
.opacity-slide-anim-mid {
    margin-bottom: 0px;
    opacity: 1;
}
.opacity-slide-anim-in {
    animation: opacity-slide-key-anim-in 0.2s;
    animation-timing-function: ease-out;
animation-fill-mode: forwards;
}
.opacity-slide-anim-out {
    animation: opacity-slide-key-anim-out 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes opacity-slide-key-anim-in {
    0% {
        margin-bottom: 8px;
        opacity: 0;
    }
    100% {
        margin-bottom: 0px;
        opacity: 1;
    }
}
@keyframes opacity-slide-key-anim-out {
    0% {
        margin-bottom: 0px;
        opacity: 1;
    }
    100% {
        margin-bottom: 8px;
        opacity: 0;
    }
}

/* OPACITY ANIMATION */
.opacity-anim-start {
    opacity: 0;
    /* pointer-events: none; */
}
.opacity-anim-mid {
    margin-bottom: 0px;
    opacity: 1;
    /* pointer-events: all; */
}
.opacity-anim-in {
    animation: opacity-key-anim-in 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.opacity-anim-out {
    animation: opacity-key-anim-out 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes opacity-key-anim-in {
    0% {
        opacity: 0;
        /* pointer-events: none; */
    }
    100% {
        opacity: 1;
        /* pointer-events: all; */
    }
}
@keyframes opacity-key-anim-out {
    0% {
        opacity: 1;
        /* pointer-events: all; */
    }
    100% {
        opacity: 0;
        /* pointer-events: none; */
    }
}

/* VERTICAL MENU ANIMATION */
.vertical-menu-anim-start {
    margin-top: -50px;
    opacity: 0;
}
.vertical-menu-anim-mid {
    margin-top: 0px;
    opacity: 1;
}
.vertical-menu-anim-in {
    animation: vertical-menu-key-anim-in 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.vertical-menu-anim-out {
    animation: vertical-menu-key-anim-out 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes vertical-menu-key-anim-in {
    0% {
        margin-top: -50px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}
@keyframes vertical-menu-key-anim-out {
    0% {
        margin-top: 0px;
        opacity: 1;
    }
    100% {
        margin-top: -50px;
        opacity: 0;
    }
}

/* HORIZONTAL MENU ANIMATION */
.horizontal-menu-anim-start {
    margin: 0 0 0 0;
    margin-left: -50px;
    opacity: 0;
}
.horizontal-menu-anim-mid {
    margin: 0 0 0 0;
    opacity: 1;
    pointer-events: all;
}
.horizontal-menu-anim-in {
    animation: horizontal-menu-key-anim-in 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.horizontal-menu-anim-out {
    animation: horizontal-menu-key-anim-out 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes horizontal-menu-key-anim-in {
    0% {
        opacity: 0;
        margin-left: -50px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
    }
}
@keyframes horizontal-menu-key-anim-out {
    0% {
        opacity: 1;
        margin-right: 0px;
    }
    100% {
        opacity: 0;
        margin-left: -50px;
    }
}

/* SCREEN ANIMATION */
.screen-anim-in {
    animation: map-anim-in 1s forwards ease-out;
}
.screen-anim-out {
    animation: map-anim-out 1s forwards ease-out;
}
@keyframes map-anim-in {
    0% {
        opacity: 0;
        z-index: 0;
    }
    1% {
        opacity: 0;
        z-index: 3;
    }
    100% {
        opacity: 1;
        z-index: 3;
    }
}
@keyframes map-anim-out {
    0% {
        opacity: 1;
        z-index: 3;
    }
    99% {
        opacity: 0;
        z-index: 3;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}
