#secondary-menu-sites {
    height: 85px;
    left: 320px;
    top: 69px;
}
#secondary-menu-water {
    height: 155px;
    left: 320px;
    top: 136px;
}
#secondary-menu-air {
    height: 85px;
    left: 320px;
    top: 203px;
}
#secondary-menu-socio {
    height: 154px;
    left: 320px;
    top: 271px;
}
#secondary-menu-index {
    height: 154px;
    left: 320px;
    top: 338px;
}
.secondary-menu {
    position: absolute;
    width: 280px;

    background: rgba(235, 227, 227, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    cursor: pointer;
    user-select: none;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
