#secondary-menu-index {
    height: 84px;
    left: 320px;
    top: 272px;
}
.secondary-menu {
    position: absolute;
    width: 280px;

    background: rgba(235, 227, 227, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    cursor: pointer;
    user-select: none;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
